*{
    padding: 0;
    margin: 0;
}
p{
    font-size: 18px;
}
a{
    
    font-size: 20px;
    color: rgb(44, 221, 103);
    text-decoration: none;
}
.fondo{
    position: fixed;
    z-index: -1;
   width: 100%;
}
body{
    
    background-color: rgb(90, 147, 194);
}
header{
  
    text-align: center;
    height: 100px;

}
.cab h1{
    padding-top: 15px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.encabezado{
    text-align: center;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
.cabp, .user{
    cursor: pointer;
    height: 30px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 25px;
    padding-top: 18px;
}
.cabp .user{
    padding-right:5px ;
}

/****************************************Grid**********************/
.container{
    text-align: center;
    padding-top: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    padding-bottom: 80px;
}
.item1 .mundo, .abarrotes, .tortilla,.fruta, .cosina, .estilista{
    cursor: pointer;
    height: 70px;
}
.item1 h3{
   
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/*--------------------------Mapa---------------------------*/
.ubi{
    padding-top: 0px;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 300px;
    padding-bottom: 200px;
}

#map{
    border-radius: 20px;
    justify-content: center;
    height: 450px;
    width: 100%;
}
/*------------------Botones de abajo*/
.abajo{
    padding-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}
.limpiar button{
 cursor: pointer;
outline: none;
height: 40px;
width: 300px;
border-radius: 15px;
border: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: aliceblue;
background-color: rgba(64, 238, 93, 0.856);

}
.limpiar button:hover{
    height: 42;
    
    color: rgb(255, 255, 255);
    background-color: rgba(86, 139, 224, 0.603);
}

@media(max-width:900px){
    .fondo{
        position: fixed;
        z-index: -1;
        height: 800px;
    }
    .cabp p{
        font-size: 17px;
    }
    .cabp .user{
        height: 17px;
    }
    .cab h1{
        font-size: 40px;
    }
    .encabezado{

        grid-template-columns: 10% 80% 10%;
    } 
    .container{
        height: 250px;
        grid-template-columns: 33.33% 33.33% 33.33%;
        padding-bottom: 0px;
    }
    h1{
        font-size: 50px;
    }
    .item1 .mundo, .abarrotes, .tortilla,.fruta, .cosina, .estilista{
        
        height: 50px;
    }
    .item1 h3{
        font-size: 15px; 
    }
    .ubi{

        grid-template-columns: 10% 80% 10%;

    }
    .abajo{
      
        grid-template-columns: 100%;
    }
    .limpiar{
        height: 50px;
    }
}